.signup-header {
  padding: 15px 0 15px 0;
  width: 100%; }

.search-logo {
  height: 70px;
  padding-left: 20px; }

.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column; }
