.home-greeting {
  align-self: center;
  margin: 0;
  padding: 15px 0 0 72px;
  text-align: center;
}

.homepage-signup-login-container {
  display: flex;
  align-items: center;
}

.sign-up-link,
.login-link {
  color: #f7f7f7;
  padding: 0 25px 40px 20px;
  text-decoration: none;
}

.home-container {
  height: 100%;
}

.home-header {
  align-items: center;
  background-color: #181818;
  box-shadow: 0px 1.5px 10px #111;
  color: #f7f7f7;
  display: flex;
  font-family: Candara, sans-serif;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  position: fixed;
  width: 100%;
}

.home-logo {
  justify-self: center;
  cursor: pointer;
  padding-left: 20px;
}
