.home-greeting {
  padding-right: 5px;
}

.sign-up-link,
.login-link {
  color: #f7f7f7;
  padding: 20px;
  text-decoration: none;
}

.home-container {
  width: 100%;
}

.home-header {
  background-color: #181818;
  box-shadow: 0px 1.5px 10px #111;
  color: #f7f7f7;
  display: flex;
  font-family: Candara, sans-serif;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  position: fixed;
  width: 100%;
}

.home-logo {
  cursor: pointer;
  padding-left: 20px;
}
