.home-greeting {
  padding-right: 60px; }

.homepage-signup-login-container {
  display: flex;
  align-items: center; }

.sign-up-link,
.login-link {
  color: #c9c9c9;
  padding: 0 25px 40px 20px;
  text-decoration: none; }

.sign-up-link:hover,
.login-link:hover {
  color: #fff; }

.home-container {
  height: 100%; }

.home-header {
  align-items: center;
  background-color: #181818;
  color: #f7f7f7;
  display: flex;
  font-family: Candara, sans-serif;
  justify-content: space-between;
  padding: 15px 0 5px 0;
  width: 100%; }

.home-logo {
  cursor: pointer;
  justify-self: center;
  padding-left: 20px; }

.new-post-icon {
  cursor: pointer;
  padding: 4px 12.5px 40px 10px; }
