.navbar-container {
  background-color: #181818;
  box-shadow: 0 7.5px 4px -4px #111;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
}

.navbar-link {
  border-bottom: 2px solid #181818;
  color: #c9c9c9;
  padding: 20px;
  text-decoration: none;
}

.fixed-nav nav {
  position: fixed;
}

.link-1:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-2:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-3:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-4:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-5:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-6:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-7:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}

.link-8:hover {
  border-bottom: 2px solid #f8d649;
  color: #fff;
}
