.sidebar {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  max-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  width: 70%;
  z-index: 2;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.sidebar a {
  color: #202020;
  text-decoration: none;
}

.sidebar li {
  list-style: none;
  padding: 0.25rem 0;
}
