.home-search-input {
  border-color: black;
  border-left: none;
  border-width: 1px;
  font-size: 0.9rem;
  height: 29px;
  margin-top: 15px;
  padding-right: 12px;
  width: 200px; }

input:focus {
  outline: 0; }

::placeholder {
  font-size: 0.9rem; }

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 110px; }

.search-button {
  align-items: center;
  border-color: black;
  border-right: none;
  display: flex;
  height: 29px;
  justify-content: center;
  margin-top: 15px;
  width: 29px; }

.search-button:hover {
  cursor: pointer; }

.search-button:focus {
  outline: 0; }
