form input {
  background-color: #555;
  border-radius: 3px;
  border: none;
  color: #f7f7f7;
  font-size: 1.2rem;
  height: 40px;
  margin: 1rem;
  padding-left: 0.75rem;
  width: 260px; }

form input::placeholder {
  color: #c4c3c3;
  font-size: 1.2rem; }

.login-header {
  align-items: center;
  background-color: #181818;
  box-shadow: 0px 1.5px 10px #111;
  color: #f7f7f7;
  display: flex;
  font-family: Candara, sans-serif;
  justify-content: space-between;
  padding: 15px 0 11px 0;
  position: fixed;
  width: 100%; }

.login-form {
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 30px #151515;
  color: #f7f7f7;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin-top: 10rem;
  opacity: 0.9;
  width: 25rem;
  -webkit-box-shadow: 0 0 10px #151515; }

.login-container {
  align-items: center;
  background-color: #555;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.form-login-header {
  font-size: 2.2rem; }

.login-logo {
  height: 70px;
  padding-left: 20px; }

.login-button {
  border-radius: 3px;
  border: none;
  background-color: #ffcc00;
  font-size: 1.2rem;
  height: 40px;
  margin: 1rem;
  width: 270px; }

.login-button:hover {
  background-color: #f8d649;
  cursor: pointer; }

.login-home-link {
  color: #c9c9c9;
  padding: 0 25px 40px 0;
  text-decoration: none; }

.login-home-link:hover {
  color: #fff; }

.login-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  width: 240px; }

.login-form-link {
  color: #e6e6e6;
  padding: 10px;
  text-decoration: none; }

.login-form-link:hover {
  color: #ffcc00; }
